.container {
  max-width: 45vw;
  margin: auto;
  background-color: #ffffff;
}

.storeHeading {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 0 0 80px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
}
